@inherits LayoutComponentBase

<Layout>
    <Layout>
        <Sider Width="220" Class="site-layout-background">
            <div class="logo-container">
                <img class="main-logo" src="images/logo.png" />
                <span class="main-logo-text">Plant<span class="main-logo-text-sub">Insights</span></span>
            </div>
            <Menu Mode="MenuMode.Inline"
                  DefaultSelectedKeys=@(new[] {"1"})
                  DefaultOpenKeys=@(new[] {"sub1"})
                  Style="height: 100%; border-right: 0;">
                @{
                    RenderFragment sub1Title =
                    @<span>
                        <Icon Type="user" Theme="outline" />
                        subnav 1
                    </span>;
                }
                <SubMenu Key="sub1" Title=sub1Title>
                    <MenuItem Key="1">option1</MenuItem>
                    <MenuItem Key="2">option2</MenuItem>
                    <MenuItem Key="3">option3</MenuItem>
                    <MenuItem Key="4">option4</MenuItem>
                </SubMenu>
                @{
                    RenderFragment sub2Title =
                    @<span>
                        <Icon Type="laptop" Theme="outline" />
                        subnav 2
                    </span>;
                }
                <SubMenu Key="sub2" Title=sub2Title>
                    <MenuItem Key="5">option5</MenuItem>
                    <MenuItem Key="6">option6</MenuItem>
                    <MenuItem Key="7">option7</MenuItem>
                    <MenuItem Key="8">option8</MenuItem>
                </SubMenu>
                @{
                    RenderFragment sub3Title =
                    @<span>
                        <Icon Type="notification" Theme="outline" />
                        subnav 3
                    </span>;
                }
                <SubMenu Key="sub3" Title=sub3Title>
                    <MenuItem Key="9">option9</MenuItem>
                    <MenuItem Key="10">option10</MenuItem>
                    <MenuItem Key="11">option11</MenuItem>
                    <MenuItem Key="12">option12</MenuItem>
                </SubMenu>
            </Menu>
        </Sider>
        <Layout Style=" padding: 0 24px 24px;">
            <Breadcrumb Style="margin: 16px 0;">
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>List</BreadcrumbItem>
                <BreadcrumbItem>App</BreadcrumbItem>
            </Breadcrumb>
            <Content Class="ant-layout-body">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    bool collapsed;

    void toggle()
    {
        collapsed = !collapsed;
    }

    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }

}

